.vote-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -90px;
}

span.vote-count {
  margin-left: 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

.social-row {
  margin-top: 10px;
  margin-bottom: 30px;
}

.proposal .btn-just-icon {
  margin-right: 10px;
  min-width: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.proposal .btn-just-icon i {
  font-size: 22px;
  padding: 0px 0px;
}

.proposal .btn-just-icon i.fa-twitter {
  margin-left: -2px;
}

.proposal .btn-just-icon i.fa-thumbs-up {
  margin-left: -3px;
}

.proposal .amount-raised h3 {
  display: block;
  width: 100%;
  font-weight: bold;
}

.proposal .proposal-data h3 a {
  font-weight: bold;
}

.proposal .amount-raised p {
  display: block;
  font-size: 15px;
}

.proposal .token-symbol {
  font-size: 18px;
}

.proposal .title {
  color: #ffffff;
}
.proposal .horizontal-section {
  flex: 1;
  flex-direction: row;
}

.proposal .horizontal-section h3 {
  display: inline-block;
}

.proposal .horizontal-section button {
  margin-left: 20px;
  font-size: 13px;
  display: inline-block;
}

.proposal .horizontal-section button i {
  font-size: 16px;
}

.proposal .comments.media-area,
.proposal .proposal-updates,
.proposal .proposal-data-upload,
.proposal .article-content {
  margin-top: 60px;
}

.proposal .time-left {
  margin-top: 10px;
}

.proposal .time-left i {
  font-size: 23px;
  margin-right: 10px;
  color: #ffffff;
  margin-top: -2px;
}

.proposal .funded a {
  margin-top: 20px;
}

.proposal .funded i {
  font-size: 23px;
  margin-right: 10px;
  color: #129612;
  margin-top: -2px;
}

.proposal h4 b {
  color: #ffffff;
}

.proposal .hold-tight {
  margin-top: 20px;
}

.proposal .hold-tight p {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.proposal .row.row-alert {
  padding: 10px 5px 0px;
  margin-left: -20px;
  padding-right: 40px;
  margin-top: 12px;
}

.proposal .row-alert .alert {
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.proposal .proposal-data h2 {
  display: block;
  width: 100%;
  font-weight: bold !important;
}

.proposal .proposal-data h3 {
  display: block;
  width: 100%;
  font-size: 2.5em;
  font-weight: normal;
}

.proposal .row.amount-raised {
  margin-top: -15px;
}

.proposal .proposal-data h4 {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.proposal .token-name {
  color: #1565bb;
  font-weight: bold;
  font-size: 38px;
}

.proposal .waiting-approval {
  padding-top: 20px;
}

.proposal .btn-vote {
  padding: 5px 25px;
  font-size: 18px;
  margin-top: -10px;
  background-color: #4e23b7;
  border: 1px solid #4e23b7;
}

.proposal .peer-review-helper {
  margin-top: 10px;
  margin-bottom: 20px;
}

.proposal .peer-review-helper p {
  font-size: 19px;
  color: white;
}

.peer-review-helper button.btn-a.interactive {
  font-weight: bold;
}

.proposal .main-row {
  background: #ffffff;
  box-shadow: 0px 10px 43px 0px rgba(73, 71, 76, 0.12) !important;
  border-radius: 8px;
}

.proposal .loading {
  min-height: 250px;
}

.proposal .main-row .col-md-7 {
  padding-left: 0px;
  margin-left: 0px;
}

.proposal .main-content {
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 43px 0px rgba(73, 71, 76, 0.12) !important;
  border-radius: 8px;
}

.proposal .horizontal-section {
  padding-top: 10px;
  padding-bottom: 10px;
}
.proposal .react-tabs__tab-list {
  margin: 20px 0 40px;
  padding: 0;
  flex: 1;
  border-bottom: 1px solid #eaeaea;
}

.proposal .react-tabs__tab-panel--selected {
  padding-left: 20px;
  padding-right: 20px;
}

.proposal .react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 30px;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 2px;
  color: #666;
  margin-right: 60px;
}
.proposal .react-tabs__tab--selected {
  border: none;
  color: #725ece;
  font-weight: 400;
  border-bottom: 2px solid #725ece;
}

.proposal .react-tabs__tab:focus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none;
}
.proposal .react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #ffffff;
}
.proposal .react-tabs__tab-panel {
  display: none;
}
.proposal .react-tabs__tab-panel--selected {
  display: block;
}

.proposal .btn-contribute {
  min-width: 130px;
}

.proposal .btn-claim-refund {
  min-width: 250px;
}

.proposal .proposal-data-upload h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  margin-left: 20px;
}

.proposal .proposal-data-upload button,
.proposal .proposal-data-upload input {
  margin-left: 20px;
}

.proposal .proposal-data-upload button {
  min-width: 222px;
}

.proposal .comments .reply-wrapper button {
  float: right;
}

.proposal .comments .reply-wrapper textarea {
  margin-top: 20px;
}

.proposal .comments h4.title {
  display: block;
  margin-left: 20px;
}

.proposal .comments p {
  font-size: 16px;
}

.proposal .comments button.btn.btn-iku.btn-link.pull-right {
  background: transparent !important;
  border-color: white !important;
  padding-left: 15px;
  padding-right: 15px;
}

.proposal .comments button.btn.btn-iku.btn-link.pull-right:hover {
  background-color: #1664bb !important;
  border-color: #1664bb !important;
  opacity: 1;
}

.proposal .comments .media .media-heading {
  color: #555;
}

.proposal .proposal-data h4 {
  margin-top: 0px;
}

.proposal .proposal-button-wrapper {
  margin: 0px;
}

.proposal span.days-left-count {
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 2px;
  display: block;
  text-align: center;
}

.proposal span.days-left-count.hours {
  letter-spacing: 0px;
}

.proposal .time-left {
  margin-top: 20px;
  text-align: center;
  display: block;
}

.proposal .ended {
  text-align: left !important;
  font-size: 18px;
  margin-top: 10px;
  padding-left: 30px;
  position: relative;
}

.proposal .starting {
  text-align: left !important;
}

.proposal .ended i {
  color: #495ac5 !important;
  position: absolute;
  left: 0px;
  margin-top: 1px;
}

.proposal .bad-news {
  margin-bottom: 20px;
}
.proposal .time-left.col-md-6:first-child {
  border-right: 1px solid #eaeaea;
}

.proposal span.days-left-word {
  font-size: 18px;
  color: #999999;
}

.proposal .proposal-data .btn-big {
  margin-bottom: 30px;
  margin-top: 30px;
}

.proposal .amount-raised p {
  font-size: 18px;
  color: #999999;
}
.proposal .token-symbol {
  font-size: 25px;
}

.proposal .token-name {
  color: #495ac5 !important;
  font-weight: normal !important;
  font-size: 35px;
  font-family: "Heebo", "Helvetica", Arial, sans-serif !important;
  margin-bottom: 20px !important;
  display: block;
}
.proposal .hold-tight {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.proposal .vote-wrapper {
  margin-top: 0px;
}
.proposal .btn-vote {
  margin-top: 34px;
  background-color: #ec4e72;
  border: 1px solid #ec4e72;
}

.proposal .main-row h6 {
  border-bottom: 1px solid #eaeaea;
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 18px !important;
  color: #999;
  margin-bottom: 0px;
}

.proposal .proposal-data h3 {
  font-size: 2.3em !important;
  margin-top: 15px !important;
}

.proposal .proposal-data h3,
.proposal .proposal-data p {
  font-family: "Heebo", "Helvetica", Arial, sans-serif !important;
}

.proposal span.vote-count {
  margin-top: 40px;
  font-size: 40px;
  font-weight: normal;
}

.proposal .proposal-image {
  opacity: 0.85;
}

.proposal .comments h4.title {
  display: block;
  margin-left: 20px;
  color: #666666;
  margin-bottom: 10px;
}

.proposal .comments .media .media-heading {
  color: #666666;
  font-weight: 500;
}

.proposal .main-content h4 {
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Heebo", "Helvetica", Arial, sans-serif !important;
  font-size: 21px !important;
}

.proposal .comments.media-area {
  min-height: 250px;
}

.proposal .main-row h4 {
  font-family: "Heebo", "Helvetica", Arial, sans-serif !important;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}
.proposal h4 b {
  color: #666666 !important;
  font-weight: normal;
}
.proposal .btn-disabled {
  color: #495ac5 !important;
  border: 2px solid #495ac5 !important;
  font-weight: bold !important;
  text-transform: uppercase;
  width: 100%;
}

.proposal .row-alert .alert {
  background-color: transparent !important;
  color: #495ac5 !important;
  border: 2px solid #495ac5 !important;
  font-weight: bold !important;
  text-transform: uppercase;
  border-radius: 8px !important;
  letter-spacing: 0.06em;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding: 10px 15px !important;
  font-size: 15px !important;
}

.proposal .peer-review-helper p {
  color: #666666 !important;
}

.proposal .row.funded {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}
.proposal .funded i {
  margin-right: 15px;
}
