.form-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.form-section-header {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}

.proposal-form .price-row {
  margin-bottom: 20px;
}

.proposal-form .form-check {
  margin-bottom: 10px;
  margin-top: 30px;
}

.proposal-form .submit {
  margin-top: 30px;
}

.proposal-form .fileinput-new,
.proposal-form .fileinput-preview {
  max-width: 370px;
  max-height: 250px;
}

.proposal-form .thumbnail {
  border: 1px solid #cccccc;
  margin-bottom: 20px;
}
.proposal-form .compliance {
  margin-top: 60px;
}

.proposal-form .attachments p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.proposal-form .conversion-rate-helper {
  padding-top: 35px;
  font-weight: normal;
  font-size: 15px;
}

.proposal-form .conversion-rate-usd {
  font-weight: normal;
  font-size: 20px;
}

.submit-proposal-page h4 {
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 400 !important;
  font-family: "Heebo", "Helvetica", Arial, sans-serif !important;
}

.submit-proposal-page .fileinput-new.thumbnail {
  opacity: 0.9;
}
