.vote-wrapper {
  display: flex;
  align-items: center;
}

span.vote-count {
  margin-left: 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

.social-row {
  margin-top: 10px;
  margin-bottom: 30px;
}

.research-target .btn-just-icon {
  margin-right: 10px;
  width: 64px;
  height: 64px;
}

.research-target .btn-just-icon i {
  font-size: 28px;
  padding: 0px 0px;
}

.research-target .btn-just-icon i.fa-twitter {
  margin-left: -6px;
}

.research-target .btn-just-icon i.fa-thumbs-up {
  margin-left: -6px;
}

.research-target .vote-wrapper {
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: 0px;
}

.research-target .btn-just-icon {
  margin-right: 10px;
  width: 64px;
  height: 64px;
}

.research-target span.vote-count {
  margin-left: 20px;
  font-weight: normal;
  font-size: 50px;
  line-height: 22px;
  margin-top: 22px;
}

.rt-main-content {
  background: #ffffff;
  box-shadow: 0px 10px 43px 0px rgba(73, 71, 76, 0.12) !important;
  border-radius: 8px;
  padding: 15px 30px;
  margin-top: 20px;
}

.research-target .card {
  height: 480px;
}
.research-target .card:not(.card-plain):hover {
  -webkit-transform: none;
}

.research-target h3.title-uppercase {
  margin-top: 0px;
}

.research-target .italic {
  font-style: italic;
}
.research-target b {
  font-weight: 400 !important;
}
