.form-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.recaptcha-container {
  margin: 30px 0px;
}

.submit-rt-page label.form-check-label {
  margin-top: 35px;
}

.submit-rt-page .form-control.intro {
  min-height: 100px !important;
  display: block !important;
}

.submit-rt-page .form-control.science {
  min-height: 550px !important;
  display: block !important;
}
