.card-image img {
  min-height: 234px;
  width: 100%;
  height: auto;
}

.bg-iku {
  /*background-color: #002E56 !important;*/
  background-color: rgba(0, 46, 86, 0.95) !important;
}

.credits .copyright {
  color: #ffffff;
}

.search {
  background-color: #ffffff;
  max-width: 600px;
  margin: auto;
  border-radius: 4px;
}

.search .input-xtreme {
  background-color: #ffffff;
  font-size: 2em;
  height: 70px;
  margin-left: 10px;
  padding-left: 0px;
}

.search .search-form .fa {
  width: 22px;
}

.search .addon-xtreme {
  background-color: #ffffff;
  font-size: 2em;
  color: #a49e93;
}

.search .search-form {
  margin: 10px;
  max-width: 100%;
}
.search .search-form button {
  justify-content: flex-end;
  margin-left: 20px;
}

.form-inline {
  flex-direction: row;
}

@media (min-width: 576px) {
  .form-inline .input-group {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .search .search-form button {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

.wallet {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  z-index: 9999999;
  padding: 10px 15px;
  border-radius: 10px;
  display: block;
  font-weight: bold;
}

.network {
  position: fixed;
  bottom: 10px;
  left: 0px;
  margin-top: 10px;
  font-size: 11px;
  z-index: 999999999999;
  padding: 10px;
  border-radius: 10px;
  display: block;
  font-weight: normal;
  width: 90px;
  text-align: center;
  line-height: 16px;
  color: white;
  letter-spacing: 1px;
}

.network i.fa {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  font-size: 17px;
}

.no-results {
  margin-left: 20px;
  margin-bottom: 300px;
}

#cards .title h2 {
  margin-bottom: 25px;
}

.submit-rt {
  display: block;
  padding-top: 40px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.research-targets .card .card-description {
  margin-top: 30px !important;
}

.research-targets h5 {
  font-size: 1.26em;
  text-align: center;
}
